<header class="header  breadcrumb-present  navbar" id="header">
   <div class="header__links__container">
      <div class="header__links__wrapper">
         <a href="#" class="link">Products for Businesses</a>
         <a href="#" class="link">We&#039;re hiring</a>
      </div>
   </div>
   <div class="header__container">
      <div class="header__wrapper clearfix">
         <a class="logo__container left" href="https://www.zomato.com/" title="Restaurants in India, United Kingdom, UAE, South Africa, Philippines, New Zealand, Qatar &amp; Sri Lanka. Delhi Restaurants, Mumbai Restaurants, Gurgaon Restaurants, London Restaurants, Dubai Restaurants, Bangalore Restaurants, Pune, Abu Dhabi, Colombo, Hyderabad, Kolkata, Chennai, Sharjah, Manila, Auckland, Wellington, Cape Town, Johannesburg Restaurants">
         <img src="https://b.zmtcdn.com/images/logo/zomato_white.svg" alt="Restaurants in India, United Kingdom, UAE, South Africa, Philippines, New Zealand, Qatar &amp; Sri Lanka. Delhi Restaurants, Mumbai Restaurants, Gurgaon Restaurants, London Restaurants, Dubai Restaurants, Bangalore Restaurants, Pune, Abu Dhabi, Colombo, Hyderabad, Kolkata, Chennai, Sharjah, Manila, Auckland, Wellington, Cape Town, Johannesburg Restaurants"/>
         </a>     
         <div class="search__container left">
            <div class="header__search-bar">
                <app-search></app-search>
            </div>
        </div>
         <div id="login-navigation" class="login__container right">
            <div class="header-link">
               <a href="#" class="signin-link header-login-button ui button mr0" id="signin-link">Log in</a>
               <a href="#" class="signup-link header-login-button ui button mr0" id="signup-link">Create an account</a>
            </div>
         </div>
      </div>
   </div>
   <div class="header__navigation__container">
      <div class="header__navigation__wrapper clearfix">
         <div class="left h100">
            <a href="https://www.zomato.com/mobile?ref=new_header_top_nav" class="header__navigation__link get-the-app">
            <img src="https://b.zmtcdn.com/images/icons/get-the-app-plain.svg"/>
            <span class="label">Get the App</span>
            </a>
         </div>
         <div class="right h100">
         </div>
      </div>
   </div>
</header>
