<div id="sticky_header" class="ui sticky v2" >
   <header-component></header-component>
   <div class="mini-header row">
      <div class="wrapper">
         <div class="row mini-header__breadcrumb">
            <div class="col-l-10 col-m-10">
               <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                     class="ui mini breadcrumb">
                     <span>
                     <a href="https://www.zomato.com" itemprop="item" class="tduh section home">
                     <span itemprop="name" class="grey-text">Home
                     </span>
                     </a>
                     </span>
                     <meta itemprop="position" content="1" />
                  </li>
                  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                     class="ui mini breadcrumb ">
                     <div class="left"> <i class="right angle tiny icon"></i>
                     </div>
                     <span>
                     <a href="https://www.zomato.com/indore/" itemprop="item">
                     <span itemprop="name" class="tduh grey-text">{{cityName}}</span>
                     </a>
                     </span>
                     <meta itemprop="position" content="2" />
                  </li>
                  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                     class="ui mini breadcrumb ">
                     <div class="left"> <i class="right angle tiny icon"></i>
                     </div>
                     <span>
                     <a href="https://www.zomato.com/indore/collections#featured" itemprop="item">
                     <span itemprop="name" class="tduh grey-text">Collections</span>
                     </a>
                     </span>
                     <meta itemprop="position" content="3" />
                  </li>
               </ol>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="resp-search-container" class="search-box-area"></div>
<div class="wrapper mtop ">
   <div class="row">
      <div class="collections-page">
         <div class="mtop mbot0 clearfix col-l-16">
            <div class="left">
               <h1 class="mb5">Collections - {{cityName}}</h1>
               <p class="subtitle">Create and browse lists of the finest restaurants</p>
            </div>
            <div class="right mt15">
               <button type="button" id="user-add-collection" class="ui green button">
               Create Collection
             </button>
            </div>
         </div>
      </div>
      <!-- /hero-about -->
      <div class="clear"></div>

      <div class="pt10">
         <div class="col-l-16 mbot ">
            <div class="collections-menu ui menu large">
               <!-- <a routerLink="featured" class="collections-menu-item collections-tab item" }"><span class="fontsize2">Handpicked</span></a>
               <a routerLink="network" class="collections-menu-item collections-tab item" [ngClass]="{'active': (activeTab == 'network')}"><span class="fontsize2">Following</span></a>
               <a routerLink="bookmarked" class="collections-menu-item  collections-tab item" [ngClass]="{'active': (activeTab == 'bookmarked')}"><span class="fontsize2">Saved Collections</span></a>
               <a routerLink="me" class="collections-menu-item  collections-tab item" [ngClass]="{'active': (activeTab == 'me')}"><span class="fontsize2">My Collections</span></a> -->
               <a href="#" (click)="gotoFeatureCollection($event, 'featured')" class="collections-menu-item collections-tab item" [ngClass]="{'active': (activeTab == 'featured')}"><span class="fontsize2">Handpicked</span></a>
               <a href="#" (click)="gotoFeatureCollection($event, 'network')" class="collections-menu-item collections-tab item" [ngClass]="{'active': (activeTab == 'network')}"><span class="fontsize2">Following</span></a>
               <a href="#" (click)="gotoFeatureCollection($event, 'bookmarked')" class="collections-menu-item  collections-tab item" [ngClass]="{'active': (activeTab == 'bookmarked')}"><span class="fontsize2">Saved Collections</span></a>
               <a href="#" (click)="gotoFeatureCollection($event, 'me')" class="collections-menu-item  collections-tab item" [ngClass]="{'active': (activeTab == 'me')}"><span class="fontsize2">My Collections</span></a>
            </div>
         </div>
         <div class="clear"></div>
         <div class = "col-l-16 collections-tab-content mbot">
           <router-outlet></router-outlet>
          </div>
         <div class="clear"></div>
         <div class="mtop">
         </div>
      </div>
      <div class="clear"></div>
   </div>
</div>
<footer-component></footer-component>
